{
  "reads": {

    "User": [
      {
        "id": "user",
        "count": "reads"
      },
      {
        "id": "author",
        "count": "reads_got"
      }
    ],

    "Post": [
      {
        "id": "post",
        "count": "reads"
      }
    ],

    "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "reads",
        "expire": 1209600
      }
    ],

    "UserWeeklyDemographics": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "{country}"
      }
    ]
  },

  "comments": {
    "User": [
      {
        "id": "user",
        "count": "comments"
      },
      {
        "id": "author",
        "count": "comments_got"
      }
    ],

    "Post": [
      {
        "id": "post",
        "count": "comments"
      }
    ]
  },


  "post_create": {
    "User": [
      {
        "id": "user",
        "count": "post_create"
      }
    ]
  },

  "post_remove": {
    "User": [
      {
        "id": "user",
        "count": "post_create",
        "change": -1
      }
    ]
  }
}
