{
  "reads": {
    "User": [
      {
        "id": "user",
        "count": "reads"
      },
      {
        "id": "author",
        "count": "reads_got"
      }
    ],
    "Post": [
      {
        "id": "post",
        "count": "reads"
      }
    ],

    "UserWeekly": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "reads"
      }
    ],

    "UserWeeklyDemographics": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "{country}"
      }
    ],

    "LeagueWeekly": [
      {
        "type": "set",
        "id": [
          "league",
          "locale",
          "week",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{plb}",
              "post_{post}"
            ]
          }
        ]
      }
    ],

    "LeagueMonthly": [
      {
        "type": "set",
        "id": [
          "league",
          "locale",
          "month",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{plb}",
              "post_{post}"
            ]
          }
        ]
      }
    ],

    "TeamWeekly": [
      {
        "type": "set",
        "id": [
          "team",
          "locale",
          "week",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{plb}",
              "post_{post}"
            ]
          }
        ]
      }
    ],

    "TeamMonthly": [
      {
        "type": "set",
        "id": [
          "team",
          "locale",
          "month",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{plb}",
              "post_{post}"
            ]
          }
        ]
      }
    ],

    "LeagueWeeklyLeaderboard": [
      {
        "type": "set",
        "id": [
          "league",
          "locale",
          "week",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{ulb}",
              "user_{author}"
            ]
          }
        ]
      }
    ],

    "LeagueMonthlyLeaderboard": [
      {
        "type": "set",
        "id": [
          "league",
          "locale",
          "month",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{ulb}",
              "user_{author}"
            ]
          }
        ]
      }
    ],

    "TeamWeeklyLeaderboard": [
      {
        "type": "set",
        "id": [
          "team",
          "locale",
          "week",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{ulb}",
              "user_{author}"
            ]
          }
        ]
      }
    ],

    "TeamMonthlyLeaderboard": [
      {
        "type": "set",
        "id": [
          "team",
          "locale",
          "month",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{ulb}",
              "user_{author}"
            ]
          }
        ]
      }
    ]
  },


  "comments": {
    "User": [
      {
        "id": "user",
        "count": "comments"
      },
      {
        "id": "author",
        "count": "comments_got"
      }
    ],

    "Post": [
      {
        "id": "post",
        "count": "comments"
      }
    ],

    "UserWeekly": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "comments"
      }
    ]
  },


  "shares": {
    "User": [
      {
        "id": "user",
        "count": "shares"
      },
      {
        "id": "author",
        "count": "shares_got"
      }
    ],
    "Post": [
      {
        "id": "post",
        "count": "shares"
      }
    ],
    "UserWeekly": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "shares"
      }
    ]
  },


  "tweets": {
    "User": [
      {
        "id": "user",
        "count": "tweets"
      },
      {
        "id": "author",
        "count": "tweets_got"
      }
    ],

    "Post": [
      {
        "id": "post",
        "count": "tweets"
      }
    ],

    "UserWeekly": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "tweets"
      }
    ]
  },


  "likes": {
    "User": [
      {
        "id": "user",
        "count": "likes"
      },
      {
        "id": "author",
        "count": "likes_got"
      }
    ],

    "Post": [
      {
        "id": "post",
        "count": "likes"
      }
    ],

    "UserWeekly": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "likes"
      }
    ]
  },


  "gplus": {
    "User": [
      {
        "id": "user",
        "count": "gplus"
      },
      {
        "id": "author",
        "count": "gplus_got"
      }
    ],

    "Post": [
      {
        "id": "post",
        "count": "gplus"
      }
    ],

    "UserWeekly": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "gplus"
      }
    ]
  },


  "logins": {
    "User": [
      {
        "id": "user",
        "count": "logins"
      }
    ]
  },


  "follow": {
    "User": [
      {
        "id": "user",
        "count": "follow"
      },
      {
        "id": "user",
        "count": "follow_actions_total"
      },
      {
        "id": "other_user",
        "count": "followers"
      },
      {
        "id": "other_user",
        "count": "followers_actions_total"
      }
    ]
  },


  "unfollow": {
    "User": [
      {
        "id": "user",
        "count": "follow",
        "change": -1
      },
      {
        "id": "other_user",
        "count": "followers",
        "change": -1
      }
    ]
  },


  "votes_mwp": {
    "User": [
      {
        "id": "user",
        "count": "votes_mwp"
      }
    ]
  },


  "post_create": {
    "User": [
      {
        "id": "user",
        "count": "post_create"
      }
    ],

    "UserWeekly": [
      {
        "id": [
          "user",
          "week",
          "year"
        ],
        "count": "post_create"
      }
    ]
  },


  "feature": {
    "User": [
      {
        "id": "user",
        "count": "feature_{channel}"
      }
    ]
  },


  "reactions": {
    "User": [
      {
        "id": "user",
        "count": "reactions"
      },
      {
        "id": "author",
        "count": "reactions_got"
      }
    ],

    "Post": [
      {
        "id": "post",
        "count": "reactions"
      }
    ]
  }
}
