{
  "reads": {
    "User": [
      {
        "id": "user",
        "count": "reads"
      },
      {
        "id": "author",
        "count": "reads_got"
      }
    ],
    "Post": [
      {
        "id": "post",
        "count": "reads"
      }
    ],

    "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "reads",
        "expire": 1209600
      },
      {
        "id": [
          "author",
          "day",
          "month",
          "year"
        ],
        "count": "reads_got",
        "expire": 1209600
      }
    ],

    "PostDaily": [
      {
        "type": "set",
        "id": [
          "day",
          "month",
          "year"
        ],
        "count": "post_{post}",
        "expire": 604800
      }
    ],

    "UserWeekly": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "reads"
      }
    ],

    "UserWeeklyDemographics": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "{country}"
      }
    ],

    "LeagueWeekly": [
      {
        "type": "set",
        "id": [
          "league",
          "locale",
          "week",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{plb}",
              "post_{post}"
            ]
          }
        ]
      }
    ],

    "LeagueMonthly": [
      {
        "type": "set",
        "id": [
          "league",
          "locale",
          "month",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{plb}",
              "post_{post}"
            ]
          }
        ]
      }
    ],

    "TeamWeekly": [
      {
        "type": "set",
        "id": [
          "team",
          "locale",
          "week",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{plb}",
              "post_{post}"
            ]
          }
        ]
      }
    ],

    "TeamMonthly": [
      {
        "type": "set",
        "id": [
          "team",
          "locale",
          "month",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{plb}",
              "post_{post}"
            ]
          }
        ]
      }
    ],

    "LeagueSevenDaysLeaderboard": [
      {
        "type": "set",
        "id": [
          "league",
          "locale",
          "yday",
          "year"
        ],
        "custom_functions": [
          {
            "name": "sevenDaysCount",
            "args": [
              "{ulb}",
              "user_{author}"
            ]
          }
        ]
      }
    ],

    "LeagueWeeklyLeaderboard": [
      {
        "type": "set",
        "id": [
          "league",
          "locale",
          "week",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{ulb}",
              "user_{author}"
            ]
          }
        ]
      }
    ],

    "LeagueMonthlyLeaderboard": [
      {
        "type": "set",
        "id": [
          "league",
          "locale",
          "month",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{ulb}",
              "user_{author}"
            ]
          }
        ]
      }
    ],

    "TeamSevenDaysLeaderboard": [
      {
        "type": "set",
        "id": [
          "team",
          "locale",
          "yday",
          "year"
        ],
        "custom_functions": [
          {
            "name": "sevenDaysCount",
            "args": [
              "{ulb}",
              "user_{author}"
            ]
          }
        ]
      }
    ],

    "TeamWeeklyLeaderboard": [
      {
        "type": "set",
        "id": [
          "team",
          "locale",
          "week",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{ulb}",
              "user_{author}"
            ]
          }
        ]
      }
    ],

    "TeamMonthlyLeaderboard": [
      {
        "type": "set",
        "id": [
          "team",
          "locale",
          "month",
          "year"
        ],
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{ulb}",
              "user_{author}"
            ]
          }
        ]
      }
    ]
  },


  "comments": {
    "User": [
      {
        "id": "user",
        "count": "comments"
      },
      {
        "id": "author",
        "count": "comments_got"
      }
    ],

    "Post": [
      {
        "id": "post",
        "count": "comments"
      }
    ],

    "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "comments",
        "expire": 1209600
      },
      {
        "id": [
          "author",
          "day",
          "month",
          "year"
        ],
        "count": "comments_got",
        "expire": 1209600
      }
    ],

    "UserWeekly": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "comments"
      }
    ]
  },


  "shares": {
    "User": [
      {
        "id": "user",
        "count": "shares"
      },
      {
        "id": "author",
        "count": "shares_got"
      }
    ],
    "Post": [
      {
        "id": "post",
        "count": "shares"
      }
    ],

    "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "shares",
        "expire": 1209600
      },
      {
        "id": [
          "author",
          "day",
          "month",
          "year"
        ],
        "count": "shares_got",
        "expire": 1209600
      }
    ],

    "UserWeekly": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "shares"
      }
    ]
  },


  "tweets": {
    "User": [
      {
        "id": "user",
        "count": "tweets"
      },
      {
        "id": "author",
        "count": "tweets_got"
      }
    ],

    "Post": [
      {
        "id": "post",
        "count": "tweets"
      }
    ],

    "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "tweets",
        "expire": 1209600
      },
      {
        "id": [
          "author",
          "day",
          "month",
          "year"
        ],
        "count": "tweets_got",
        "expire": 1209600
      }
    ],

    "UserWeekly": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "tweets"
      }
    ]
  },


  "likes": {
    "User": [
      {
        "id": "user",
        "count": "likes"
      },
      {
        "id": "author",
        "count": "likes_got"
      }
    ],

    "Post": [
      {
        "id": "post",
        "count": "likes"
      }
    ],

    "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "likes",
        "expire": 1209600
      },
      {
        "id": [
          "author",
          "day",
          "month",
          "year"
        ],
        "count": "likes_got",
        "expire": 1209600
      }
    ],

    "UserWeekly": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "likes"
      }
    ]
  },


  "gplus": {
    "User": [
      {
        "id": "user",
        "count": "gplus"
      },
      {
        "id": "author",
        "count": "gplus_got"
      }
    ],

    "Post": [
      {
        "id": "post",
        "count": "gplus"
      }
    ],

    "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "gplus",
        "expire": 1209600
      },
      {
        "id": [
          "author",
          "day",
          "month",
          "year"
        ],
        "count": "gplus_got",
        "expire": 1209600
      }
    ],

    "UserWeekly": [
      {
        "id": [
          "author",
          "week",
          "year"
        ],
        "count": "gplus"
      }
    ]
  },


  "logins": {
    "User": [
      {
        "id": "user",
        "count": "logins"
      }
    ],

    "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "logins",
        "expire": 1209600
      }
    ]
  },


  "follow": {
    "User": [
      {
        "id": "user",
        "count": "follow"
      },
      {
        "id": "user",
        "count": "follow_actions_total"
      },
      {
        "id": "other_user",
        "count": "followers"
      },
      {
        "id": "other_user",
        "count": "followers_actions_total"
      }
    ],

    "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "follow",
        "expire": 1209600
      },
      {
        "id": [
          "other_user",
          "day",
          "month",
          "year"
        ],
        "count": "followers",
        "expire": 1209600
      }
    ]
  },


  "unfollow": {
    "User": [
      {
        "id": "user",
        "count": "follow",
        "change": -1
      },
      {
        "id": "other_user",
        "count": "followers",
        "change": -1
      }
    ],

    "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "follow",
        "change": -1,
        "expire": 1209600
      },
      {
        "id": [
          "other_user",
          "day",
          "month",
          "year"
        ],
        "count": "followers",
        "change": -1,
        "expire": 1209600
      }
    ]
  },


  "votes_mwp": {
    "User": [
      {
        "id": "user",
        "count": "votes_mwp"
      },
      {
        "id": "author",
        "count": "votes_mwp_got"
      }
    ],

    "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "votes_mwp",
        "expire": 1209600
      },
      {
        "id": [
          "author",
          "day",
          "month",
          "year"
        ],
        "count": "votes_mwp_got",
        "expire": 1209600
      }
    ]
  },


  "post_create": {
    "User": [
      {
        "id": "user",
        "count": "post_create"
      }
    ],

   "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "post_create",
        "expire": 1209600
      }
    ],

    "UserWeekly": [
      {
        "id": [
          "user",
          "week",
          "year"
        ],
        "count": "post_create"
      }
    ],

    "LeagueCounters": [
      {
        "id": "league",
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{league_count}",
              "posts"
            ]
          }
        ]
      }
    ],

    "LeagueWriters": [
      {
        "type": "set",
        "id": "league",
        "custom_functions": [
          {
            "name": "countAndSetIf",
            "args": [
              "{writers_count}",
              "user_{user}",
              "LeagueCounters_{league}",
              "writers"
            ]
          }
        ]
      }
    ],


    "TeamCounters": [
      {
        "id": "team",
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{league_count}",
              "posts"
            ]
          }
        ]
      }
    ],

    "TeamWriters": [
      {
        "type": "set",
        "id": "team",
        "custom_functions": [
          {
            "name": "countAndSetIf",
            "args": [
              "{writers_count}",
              "user_{user}",
              "TeamCounters_{team}",
              "writers"
            ]
          }
        ]
      }
    ]    
  },


  "post_remove": {
    "User": [
      {
        "id": "user",
        "count": "post_create",
        "change": -1
      }
    ]
  },


  "feature": {
    "User": [
      {
        "id": "user",
        "count": "feature_{channel}"
      }
    ],

    "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "feature_{channel}",
        "expire": 1209600
      }
    ],

    "CategoryMonthlyFeatured": [
      {
        "type": "set",
        "id": [
          "category",
          "locale",
          "month",
          "year"
        ],
        "custom_functions": [
          {
            "name": "countIfExist",
            "args": [
              "{category}",
              "{countcategory}",
              "user_{user}"
            ]
          }
        ]
      }
    ]
  },


  "reactions": {
    "User": [
      {
        "id": "user",
        "count": "reactions"
      },
      {
        "id": "author",
        "count": "reactions_got"
      }
    ],

    "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "reactions",
        "expire": 1209600
      },
      {
        "id": [
          "author",
          "day",
          "month",
          "year"
        ],
        "count": "reactions_got",
        "expire": 1209600
      }
    ],

    "Post": [
      {
        "id": "post",
        "count": "reactions"
      }
    ]
  },


  "expire_test": {
    "ExpireTest": [
      {
        "count": "tests",
        "expire": 10
      }
    ]
  }
}
