{
  "reads": {
    "User": [
      {
        "id": "user",
        "count": "reads"
      },
      {
        "id": "author",
        "count": "reads_got"
      }
    ],
    "Post": [
      {
        "id": "post",
        "count": "reads"
      }
    ],

    "UserDaily": [
      {
        "id": [
          "user",
          "day",
          "month",
          "year"
        ],
        "count": "reads",
        "expire": 1209600
      }
    ]
  },


  "comments": {
    "User": [
      {
        "id": "user",
        "count": "comments"
      },
      {
        "id": "author",
        "count": "comments_got"
      }
    ],

    "Post": [
      {
        "id": "post",
        "count": "comments"
      }
    ]
  },


  "post_create": {
    "User": [
      {
        "id": "user",
        "count": "post_create"
      }
    ],


    "TeamCounters": [
      {
        "id": "team",
        "custom_functions": [
          {
            "name": "conditionalCount",
            "args": [
              "{league_count}",
              "posts"
            ]
          }
        ]
      }
    ],

    "TeamWriters": [
      {
        "type": "set",
        "id": "team",
        "custom_functions": [
          {
            "name": "countAndSetIf",
            "args": [
              "{writers_count}",
              "user_{user}",
              "TeamCounters_{team}",
              "writers"
            ]
          }
        ]
      }
    ]
  },


  "post_remove": {
    "User": [
      {
        "id": "user",
        "count": "post_create",
        "change": -1
      }
    ]
  }
}
